[submodule "pytiling-lib"]
	path = pytiling-lib
	url = https://github.com/dante-ferr/pytiling.git
[submodule "pyglet-dragonbones-lib"]
	path = pyglet-dragonbones-lib
	url = https://github.com/dante-ferr/pyglet-dragonbones.git
